# telegram bot token
token: "Ao3Fohh6Voomaesh2Uy8dohphu6Shohcaid9jee3Iodie"
# list of users that are allowed to issue commands to the bot (/status, /deactivate, /activate)
valid_users: 
  - mytelegramuser
# path to a file to keep state, e.g: group to use for notifications
state_file: /path/to/state.file.db
# optional configs
smtp_port: 8025
smtp_listen: '0.0.0.0'